html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  background: #f8f9fa;
  color: #4a4a4a;
  --background: #f8f9fa;
  --reduceBackground: #f3eddf;
  --letters: #31364c;
  --dark: #4a4a4a;
  --red: #c81b00;
  --green: #246e00;
  --blue: #1c5998;
  --lightBlue: #78d7dd;
  --lineGrafic: #923330;
  --bitcoin: #fe9870;
  --bitcoin-dark: #e08663;
  --candleGreen: #5dae82;
  --candleRed: #ff4646;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 700px) {
  body {
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
}
